function PingPongGame.new 0
push constant 17
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 3
push constant 0
push constant 29
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 30
push constant 14
push constant 482
push constant 242
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 32
push constant 16
push constant 480
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 128
push constant 230
push constant 1
push constant 1
neg
push constant 4
call Ball.new 5
pop this 0
push constant 476
push constant 108
push constant 40
push constant 2
call Slider.new 4
pop this 1
push constant 33
push constant 108
push constant 40
push constant 2
call Slider.new 4
pop this 2
push constant 0
pop this 7
push constant 0
pop this 8
push constant 0
pop this 9
push constant 0
pop this 10
push constant 0
pop this 11
push constant 0
pop this 12
push constant 0
pop this 13
push constant 0
pop this 14
push constant 0
pop this 15
push constant 0
pop this 16
push pointer 0
return
function PingPongGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Ball.dispose 1
pop temp 0
push this 1
call Slider.dispose 1
pop temp 0
push this 2
call Slider.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PingPongGame.check_collision_y 4
push argument 0
pop pointer 0
push this 0
call Ball.gety 1
pop local 0
push this 0
call Ball.getvy 1
pop local 3
push local 0
push local 3
add
pop local 1
push local 1
push constant 21
lt
push local 1
push constant 235
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 21
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
push local 3
sub
pop local 2
push this 0
call Ball.erase 1
pop temp 0
push this 0
push constant 21
call Ball.sety 2
pop temp 0
push this 0
call Ball.draw 1
pop temp 0
push this 0
push local 2
call Ball.setvy 2
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 0
push local 3
sub
pop local 2
push this 0
call Ball.erase 1
pop temp 0
push this 0
push constant 235
call Ball.sety 2
pop temp 0
push this 0
call Ball.draw 1
pop temp 0
push this 0
push local 2
call Ball.setvy 2
pop temp 0
label IF_END1
goto IF_END0
label IF_FALSE0
label IF_END0
push constant 0
return
function PingPongGame.check_collision_x 16
push argument 0
pop pointer 0
push this 0
call Ball.getr 1
pop local 7
push constant 0
pop local 3
push this 0
call Ball.getx 1
pop local 0
push this 0
call Ball.gety 1
pop local 6
push this 0
call Ball.getvx 1
pop local 2
push this 0
call Ball.getvy 1
pop local 5
push local 6
push local 7
sub
pop local 8
push local 6
push local 7
add
pop local 9
push this 1
call Slider.gety 1
pop local 10
push this 1
call Slider.getlength 1
pop local 11
push local 10
push local 11
add
pop local 12
push this 2
call Slider.gety 1
pop local 13
push this 2
call Slider.getlength 1
pop local 15
push local 13
push local 15
add
pop local 14
push local 0
push constant 42
lt
push local 0
push constant 470
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
push local 2
sub
pop local 1
push this 0
push local 1
call Ball.setvx 2
pop temp 0
push local 0
push constant 470
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 9
push local 10
lt
push local 8
push local 12
gt
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop this 4
push constant 0
not
pop this 5
goto IF_END2
label IF_FALSE2
push this 6
push constant 131
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 5
push constant 1
sub
pop local 4
push this 0
push local 4
call Ball.setvy 2
pop temp 0
label IF_FALSE3
push this 6
push constant 133
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 5
push constant 1
add
pop local 4
push this 0
push local 4
call Ball.setvy 2
pop temp 0
label IF_FALSE4
push local 8
push local 10
gt
push local 8
push local 10
eq
or
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 3
push constant 1
add
pop local 3
label IF_FALSE5
push local 9
push local 12
lt
push local 9
push local 12
eq
or
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 3
push constant 2
add
pop local 3
label IF_FALSE6
push local 3
push constant 1
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 5
push constant 1
add
pop local 4
push this 0
push local 4
call Ball.setvy 2
pop temp 0
goto IF_END7
label IF_FALSE7
push local 3
push constant 2
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 5
push constant 1
sub
pop local 4
push this 0
push local 4
call Ball.setvy 2
pop temp 0
label IF_FALSE8
label IF_END7
label IF_END2
goto IF_END1
label IF_FALSE1
label IF_END1
goto IF_END0
label IF_FALSE0
label IF_END0
push constant 0
return
function PingPongGame.movement_ai 0
push argument 0
pop pointer 0
push this 15
pop this 16
push this 14
pop this 15
push this 13
pop this 14
push this 12
pop this 13
push this 11
pop this 12
push this 10
pop this 11
push this 9
pop this 10
push this 8
pop this 9
push this 7
pop this 8
push this 0
call Ball.gety 1
push constant 20
sub
pop this 7
push this 16
push constant 40
add
push constant 238
lt
push this 16
push constant 18
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
call Slider.erase 1
pop temp 0
push this 2
call Slider.dispose 1
pop temp 0
push constant 33
push this 16
push constant 40
push constant 2
call Slider.new 4
pop this 2
goto IF_END0
label IF_FALSE0
label IF_END0
push constant 0
return
function PingPongGame.run 0
push argument 0
pop pointer 0
push constant 0
pop this 5
push constant 0
pop this 6
label WHILE_EXP0
push this 5
not
not
if-goto WHILE_END0
push constant 0
pop this 6
call Keyboard.keyPressed 0
pop this 6
push constant 0
not
pop this 4
push this 6
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 4
label IF_FALSE0
label WHILE_EXP1
push this 4
not
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop this 6
push this 6
push constant 81
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 4
push constant 0
not
pop this 5
label IF_FALSE1
push this 6
push constant 131
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
call Slider.moveUp 1
pop temp 0
label IF_FALSE2
push this 6
push constant 133
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
call Slider.moveDown 1
pop temp 0
label IF_FALSE3
push pointer 0
call PingPongGame.check_collision_y 1
pop temp 0
push pointer 0
call PingPongGame.check_collision_x 1
pop temp 0
push this 0
call Ball.move 1
pop temp 0
push pointer 0
call PingPongGame.movement_ai 1
pop temp 0
push constant 8
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
