function Main.main 6
push constant 0
push constant 29
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 30
push constant 14
push constant 482
push constant 242
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 32
push constant 16
push constant 480
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 256
push constant 230
push constant 1
push constant 1
neg
push constant 4
call Ball.new 5
pop local 0
push constant 476
push constant 120
push constant 16
call Slider.new 3
pop local 1
push constant 33
push constant 120
push constant 16
call Slider.new 3
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
label WHILE_EXP0
push local 3
not
not
if-goto WHILE_END0
push constant 0
pop local 5
label WHILE_EXP1
push local 5
not
not
if-goto WHILE_END1
push constant 20
call Sys.wait 1
pop temp 0
call Keyboard.keyPressed 0
pop local 4
push local 4
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 5
push constant 0
not
pop local 3
label IF_FALSE0
push local 4
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
call Slider.moveUp 1
pop temp 0
label IF_FALSE1
push local 4
push constant 133
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
call Slider.moveDown 1
pop temp 0
label IF_FALSE2
goto WHILE_EXP1
label WHILE_END1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
